# macOs general
.DS_Store
.AppleDouble
.LSOverride

# macOs thumbnails
._*

# dotenv environment variables file
.env
.env.test

# dev tools
.vscode
.idea
*.sublime-project
*.sublime-workspace

# misc

.firebase

# python
__pycache__
*.pyc
venv

# js/ts
node_modules

# artifacts
output
