[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==4.5.0"
Markdown = "==3.3.2"
Pygments = "==2.7.4"
markdown-captions = "==1"

[requires]
python_version = "3.8"
