{% if IS_LIVE %}
<div id="cc" class="cookie-consent--hidden">
  <div class="cookie-consent__body">
    <div class="cookie-consent__body__message">
      I'd like to know when someone finishes reading an article. Do I have your permission to collect this information? <a href="https://docs.simpleanalytics.com/events#what-we-store-about-a-visitor" target="_blank">Details</a>
    </div>
    <div class="cookie-consent__body__button-row">
      <button class="button" onclick="window.setTracking(true)">Yes</button>
      <button class="button--secondary" onclick="window.setTracking(false)">No</button>
    </div>
  </div>
</div>
<script async src="https://data.matiasklemola.com/e.js"></script>
<noscript><img src="https://data.matiasklemola.com/image.gif" alt=""></noscript>
{% endif %}
