{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}
{{ article.title }} - {{ SITENAME }}
{% endblock %}
{% block head %}
{{ super() }}
  <meta name="description" content="{{ article.summary | striptags }}" />
  <meta property="og:description" content="{{ article.summary | striptags }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.slug }}" />
  <meta property="og:title" content="{{ article.title | replace("\"", "&quot;") }}" />
  <meta property="og:image" content="{{ SITEURL }}{% if article.cover is defined %}/images/{{ article.cover }}{% else %}/og_image.png{% endif %}" />
{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}
{% for tag in article.tags %}
  <meta name="tags" content="{{ tag }}" />
{% endfor %}
{% endblock %}
{% block content %}
<header class="article-header">
  {% if article.cover %}
  <img class="article-header__cover-image" src="/images/{{article.cover}}"/>
  {% endif %}
  <div class="article-header__content">
    <h1 class="article-title">{{ article.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
    {% include 'article-summary.html' %}
  </div>
  <hr />
</header>
<div class="article-content">
  {{ article.content }}
</div>
<footer id="af" class="article-footer">
  {% if article.sourcecode %}
  <p><a class="article-summary__sourcecode-link" href="{{ article.sourcecode }}" target="_blank">All source code from this article</a></p>
  {% endif %}
  {% if article.publication %}
  <p class="article-summary__repost">Originally published in <a href="{{ article.origin }}"">{{ article.publication }}</a>.</p>
  {% endif %}
  {% if article.modified %}
  <div class="article-footer__date-modified"><time datetime="{{ article.modified.isoformat() }}">
  The article was updated on {{ article.locale_modified }}.
  </time></div>
  {% endif %}
  <a
    href="{{ SITEURL }}/{{ article.slug }}"
    rel="bookmark"
    title="Permalink to {{ article.title | striptags }}"
    >Permalink</a>
</footer>
{% endblock %}
