<div class="article-summary">
  <span class="article-summary__meta">
    <time datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
    • {% if article.readtime %}
    <span>{{article.readtime.minutes}} min read</span>
    {% endif %}
  </span>
  {% if article.summary %}
  <p class="article-summary__text">{{ article.summary | striptags }}</p>
  {% endif %} {% if page_name is not defined %} {% if article.audience %}
  <h4>Target audience</h4>
  <p class="article-summary__text">{{ article.audience }}</p>
  {% endif %} {% endif %}
</div>
