{% extends "base.html" %} {% block title %}{{ SITENAME }} - Articles{% endblock %}
{% block content %}
<h1>Articles</h1>

<p>Articles explore a certain topic in depth. The topics are inspired by experiences from professional work, or by personal interests (e.g. travel, music).</p>

<ol class="article-list list--unstyled">
  {% for article in articles | selectattr('category', '==', 'articles') %}
  {% include 'article-list-entry.html' %}
  {% endfor %}
</ol>

<h2>Elsewhere</h2>

I occasionally write articles for third parties. Find them below.

<ol class="article-list list--unstyled">
  {% for name, link in EXTERNAL_ARTICLES %}
  <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
  {% endfor %}
</ol>
{% endblock %}
