{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{
  SITENAME
}}
- {{ article.title }}
{% endblock %}
{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}
{% if article.description %}
<meta name="description" content="{{ article.description }}" />
{% endif %}
{% for tag in article.tags %}
<meta name="tags" content="{{ tag }}" />
{% endfor %}
{% endblock %}
{% block content %}
<header class="article-header">
  <h1 class="article-title">{{ article.title }}</h1>
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(article) }}
</header>
{% include 'article-summary.html' %}
<div class="article-content">
  {{ article.content }}
</div>
<footer class="article-footer">
  {% if article.category %}
  <div class="category">
  In <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  </div>
  {% endif %}
  {% if article.tags %}
  <div class="tags">
    Tagged as {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}
  <a
    href="{{ SITEURL }}/{{ article.slug }}"
    rel="bookmark"
    title="Permalink to {{ article.title | striptags }}"
    >Permalink</a>
</footer>
{% endblock %}
