<div class="article-summary">
  <time class="article-summary__date-published" datetime="{{ article.date.isoformat() }}">
    {{ article.locale_date }}
  </time>
  •
  {% if article.readtime %}
  <span class="article-summary__readtime">{{article.readtime.minutes}} min read</span>
  {% endif %}
  {% if article.summary %}
  <p class="article-summary__text">{{ article.summary }}</p>
  {% endif %}
  {% if page_name is not defined %}
    {% if article.audience %}
    <h4>Target audience</h4>
    <p class="article-summary__text">{{ article.audience }}</p>
    {% endif %}
    {% if article.sourcecode %}
    <p><a class="article-summary__sourcecode-link" href="{{ article.sourcecode }}" target="_blank">All source code from this article</a></p>
    {% endif %}
    {% if article.publication %}
    <p class="article-summary__repost">Originally published at <a href="{{ article.origin }}"">{{ article.publication }}</a>.</p>
    {% endif %}
  {% endif %}
</div>
