{% extends "base.html" %}
{% block content %}
<h1>Matias Klemola</h1>

<div class="intro">
  <div class="intro__content">
    <p>Greetings! I'm a software developer and a music nerd. I work at <a href="https://www.valuemotive.com" target="_blank">Valuemotive</a> as a software architect with management duties in HR. I also play bass in <a href="https://paimentolaiselama.bandcamp.com" target="_blank">Paimentolaiselämä</a> and <a href="https://en.wikipedia.org/wiki/Bouldering" target="_blank">boulder</a> with my friends.</p>

    <p>I write in-depth <a href="/articles">articles</a> about tech, music, travel and other interests of mine. For lighter content, there's the <a href="/journal">journal</a>.</p>

    <p>You can reach me at <a href="mailto:hello@matiasklemola.com">hello@matiasklemola.com</a>, or on <a href="https://twitter.com/matiasklemola">Twitter</a>.</p>
  </div>
  <div class="intro__image"></div>
</div>

<h2 class="section-title">Recent content</h2>
<ol class="article-list list--unstyled">
  {% for article in articles_page.object_list %}
  {% include 'article-list-entry.html' %}
  {% endfor %}
</ol>

{% if articles_page.has_other_pages() %} 
{% include 'pagination.html' %}
{% endif %}
{% endblock content %}
