{% extends "base.html" %} {% block title %}{{ SITENAME }} - All posts{% endblock %} {% block
content %}
<h1>Posts on {{ SITENAME }}</h1>

<ul class="category-list list--unstyled">
  {% for category, articles in categories|sort %}
  <li class="category-list__entry">
    <h2>{{ category }}</h2>
    <ol class="article-list list--unstyled">
      {% for article in articles %}
      {% include 'article-list-entry.html' %}
      {% endfor %}
    </ol>
  </li>
  {% endfor %}
</ul>

<h1>External posts</h2>
<ol class="article-list list--unstyled">
  {% for name, link in EXTERNAL_POSTS %}
  <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
  {% endfor %}
</ol>
{% endblock %}
