*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--color-bg-content);
  color: var(--color-text);
  font-family: var(--font-family-body);
  line-height: var(--line-height-text);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background: var(--color-bg-box);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  color: var(--color-text-code);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-code);
  line-height: var(--line-height-code);
  padding: 0 4px;
}

h1 {
  margin-top: var(--spacing-m);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  margin-top: var(--spacing-l);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  margin-top: var(--spacing-m);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-heading);
  letter-spacing: 1px;
  word-wrap: break-word;
}

h2 + h3 {
  margin-top: 0;
}

thead {
  text-transform: uppercase;
}

pre {
  border: none;
  color: var(--color-text-code);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-code);
}

blockquote {
  border-left: 2px solid var(--color-secondary);
  font-style: italic;
  margin-top: var(--spacing-m);
  padding: var(--spacing-xs) var(--spacing-s);
}

blockquote strong {
  margin-top: var(--spacing-s);
  font-style: normal;
  text-align: right;
  display: block;
}

hr {
  border: 1px solid var(--color-bg-box);
  border-radius: var(--border-radius);
  width: 100%;
}

figure,
img {
  width: 100%;
}

li {
  padding: var(--spacing-xxs) 0;
}

pre,
table {
  overflow-x: auto;
  padding: var(--spacing-s);
}

table {
  color: var(--color-text-inverse);
  display: block;
}

thead {
  white-space: nowrap;
}

td,
th {
  padding: 0 var(--spacing-xs) var(--spacing-s);
  vertical-align: top;
}

td:first-child,
th:first-child {
  padding: 0 var(--spacing-xs) 0 0;
}

button,
.button {
  background: var(--color-light);
  color: var(--color-dark);
  padding: var(--spacing-xxs) var(--spacing-xs);
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius);
  cursor: pointer;
}

button:hover,
button:active,
.button:hover,
.button:active {
  background: var(--color-light-alternative);
}

.button:active {
  box-shadow: inset 0px -1px 3px 0px rgba(0, 0, 0, 0.3);
}

.button--secondary {
  background: none;
  color: var(--color-light);
  border: 1px solid var(--color-light);
}

.button--secondary:hover,
.button--secondary:active {
  color: var(--color-dark);
}
