@import "./normalize.css";
@import "./variables.css";
@import "./pygments.css";
@import "./base.css";

/*
  Layout
*/

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  min-height: 100vh;
}

.site-header {
  box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
  background: #f9f9f9;
  color: #222;
}

.site-header a {
  color: #222;
  text-transform: uppercase;
}

.site-header__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: var(--content-max-width);
  padding: var(--spacing-s);
}

.site-header__nav {
  letter-spacing: 0.1rem;
  margin-top: var(--spacing-s);
  font-style: italic;
  line-height: 1;
}

.site-header__nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.site-header__nav__links a.active {
  text-decoration: underline;
}

.site-header__nav__links li:last-child:after {
  content: "";
}

.site-header__nav__links li::after {
  content: "•";
  font-style: normal;
  margin: 0 var(--spacing-xs);
  padding-bottom: 0.2rem;
}

.site-footer {
  border-top: 1px solid var(--color-border);
  background-color: var(--color-dark-alternative);
}

.site-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: var(--spacing-s) var(--spacing-s) 5rem;
}

.site-footer__content p,
.site-footer__content li,
.site-footer__content h4 {
  margin: 0 0 var(--spacing-xxs);
}

.site-footer__content li {
  padding: 0;
}

.site-footer__content__col {
  display: flex;
  flex-direction: column;
  margin-right: var(--spacing-l);
}

.site-footer__content__col:last-child {
  margin-right: 0;
}

.content {
  --figure-offset: var(--spacing-m);
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--content-max-width);
  padding: var(--content-padding) var(--content-padding) var(--spacing-l);
  width: 100%;
}

.article-content__image,
.article-content > table,
.article-content > figure,
.article-content > .highlight {
  position: relative;
  color: var(--color-text);
  width: calc(100% + 2 * var(--figure-offset));
  margin: var(--spacing-s) calc(0px - var(--figure-offset));
}

.article-content__image,
.article-content > table,
.article-content > figure,
.article-content > .highlight {
  background: #2b2b2b;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}

.article-content__image {
  margin: var(--spacing-m) calc(0px - var(--figure-offset));
}

.article-content__image img {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  background: #2b2b2b;
}

figure figcaption {
  padding: var(--spacing-xs) var(--content-padding);
  font-style: italic;
}

figure figcaption.code {
  color: var(--color-text-muted);
}

figure > img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

figure.code .highlight {
  box-shadow: inset 0 5px 5px -5px rgba(0, 0, 0, 0.3);
}

figure.code figcaption > a {
  display: none;
}

.content pre {
  margin: 0;
}

.article-footer {
  margin-top: var(--spacing-m);
}

.article-footer__date-modified {
  margin-bottom: var(--spacing-s);
  font-style: italic;
}

.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  transition: linear 0.2s;
}

.logo:hover {
  opacity: 0.85;
  transform: scale(1.1);
}

/*
  Generic styles
*/

.list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget-container {
  display: flex;
  flex-direction: row;
  margin: 0 calc(0px - var(--spacing-s));
}

.widget-container__widget {
  flex: 1;
  margin: var(--spacing-s);
}

/*
  Page speficic styles
*/

.category-list__entry h2 {
  margin: var(--spacing-s) 0;
}

.article-list__entry__header h3 {
  margin: 0 0 var(--spacing-xs);
}

.article-header {
  margin-bottom: var(--spacing-m);
}

.article-header h4 {
  margin-bottom: 0;
}

.article-header hr {
  margin-top: var(--spacing-m);
  border-color: var(--color-light-alternative);
}

.article-summary__date-published,
.article-summary__readtime {
  font-style: italic;
  color: var(--color-light-alternative);
}

.article-summary__text {
  margin-top: var(--spacing-xs);
}

.article-summary__sourcecode-link,
.article-summary__repost {
  font-style: italic;
}

.cover-image {
  margin-top: 0;
}

.intro {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--color-bg-box);
  border-radius: var(--border-radius);
}

.intro__content {
  padding: 0 var(--content-padding);
  flex: 1;
}

.intro__image {
  width: 250px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-image: url("../images/matias.jpg");
  background-size: cover;
  background-position: center;
}

.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xs);
  background: var(--color-dark-alternative);
  color: var(--color-neutral);
  border-top: 1px solid var(--color-border);
}

.cookie-consent--hidden {
  display: none;
}

.cookie-consent__body,
.cookie-consent__body__button-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cookie-consent__body {
  max-width: var(--content-max-width);
  font-size: var(--font-size-text-small);
}

.cookie-consent__body__button-row button {
  margin: var(--spacing-xxs);
}

@media (max-width: 960px) {
  .content {
    --figure-offset: var(--content-padding);
  }
}

@media (max-width: 720px) {
  .article-content__image,
  .article-content > table,
  .article-content > figure,
  .article-content > .highlight {
    width: calc(100% + 2 * var(--content-padding));
  }

  .article-content__image img,
  .article-content > table,
  .article-content > figure,
  .article-content > .highlight,
  figure > img {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  .widget-container {
    flex-direction: column;
    margin: 0;
  }

  .widget-container__widget {
    flex: none;
    margin: var(--spacing-s) 0;
  }

  .intro {
    flex-direction: column-reverse;
    border-radius: 0;
    margin-left: calc(0px - var(--content-padding));
    margin-right: calc(0px - var(--content-padding));
  }

  .intro__content p:first-child {
    margin-top: 0;
  }

  .intro__image {
    height: 250px;
    margin: var(--spacing-s) auto;
    border-radius: var(--border-radius);
  }
}

@media (max-width: 420px) {
  .site-header__nav ul,
  .site-footer__content {
    flex-direction: column;
  }

  .site-footer__content {
    flex-direction: column-reverse;
    padding: var(--spacing-s) var(--spacing-s) 6rem;
  }

  .site-footer__content__col {
    margin-bottom: var(--spacing-m);
    margin-right: 0;
    text-align: center;
  }

  .site-footer__content__col:first-child {
    margin-bottom: 0;
  }

  .site-header__nav__links li::after,
  .site-footer__links li::after {
    content: "";
    margin: 0;
    padding: 0;
  }

  .site-header__nav {
    font-style: normal;
    margin-top: var(--spacing-s);
    margin-left: 0;
  }
}
