@import './variables.css';
@import './pygments.css';
@import './base.css';

/*
  Layout
*/

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  min-height: 100vh;
}

.site-header {
  background: var(--color-dark);
}

.site-header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

.site-header__content__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: var(--spacing-m);
}

.site-header__content__title:hover,
.site-header__content__title:active {
  filter: grayscale(100%);
}

.site-header__content__title img {
  width: auto;
}

.logo {
  width: var(--logo-size);
  height: var(--logo-size);
  border: 3px solid var(--color-light);
}

.mk-title {
  height: var(--logo-size);
  padding: 3px 0;
}

.site-header__content__title img:first-of-type {
  margin-right: calc(var(--spacing-s) * 1.5);
}

.site-header__nav {
  letter-spacing: 0.1rem;
  font-style: italic;
  line-height: 1;
  margin: var(--spacing-s) var(--content-padding);
  padding: var(--spacing-xs) 0;
  border-top: 1px solid var(--color-bg-box);
  border-bottom: 1px solid var(--color-bg-box);
}

.site-header__nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.site-header__nav__links a {
  color: var(--color-primary);
  text-transform: uppercase;
}

.site-header__nav__links a.active {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: 2px;
}

.site-header__nav__links li:last-child:after {
  content: '';
  margin: 0;
}

.site-header__nav__links li::after {
  content: '•';
  font-style: normal;
  margin: 0 var(--spacing-xs);
  padding-bottom: 0.2rem;
}

.site-footer {
  border-top: 1px solid var(--color-border);
  background-color: var(--color-dark-alternative);
}

.site-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: var(--spacing-s) var(--spacing-s) 5rem;
}

.site-footer__content p,
.site-footer__content li,
.site-footer__content h4 {
  margin: 0 0 var(--spacing-xxs);
}

.site-footer__content li {
  padding: 0;
}

.site-footer__content__col {
  display: flex;
  flex-direction: column;
  margin-right: var(--spacing-l);
}

.site-footer__content__col:last-child {
  margin-right: 0;
}

.content {
  --figure-offset: var(--content-padding);
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: var(--content-max-width);
  padding: 0 var(--content-padding) var(--spacing-l);
  width: 100%;
}

.section-title {
  margin-bottom: 0;
}

.article-content__image,
.article-content > table,
.article-content > figure,
.article-content > .highlight {
  position: relative;
  color: var(--color-text);
  width: calc(100% + 2 * var(--figure-offset));
  margin: var(--spacing-s) calc(0px - var(--figure-offset));
}

.article-content__image,
.article-content > table,
.article-content > figure,
.article-content > .highlight {
  background: #2b2b2b;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}

.article-content__image {
  margin: var(--spacing-m) calc(0px - var(--figure-offset));
}

.article-content__image img {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  background: #2b2b2b;
  vertical-align: middle;
}

.content pre {
  margin: 0;
}

.embed,
.embed--large {
  margin: 2rem 0 1rem;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius);
}

.embed iframe,
.embed--large iframe {
  border: none;
  outline: none;
  border-radius: var(--border-radius);
}

.embed--large {
  height: var(--regular-height, auto);
}

.article-footer {
  margin-top: var(--spacing-m);
}

.article-footer p {
  margin-bottom: var(--spacing-xxs);
}

.article-footer__date-modified {
  margin-bottom: var(--spacing-s);
  font-style: italic;
}

/*
  Generic styles
*/

.list--unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.widget-container {
  display: flex;
  flex-direction: row;
  margin: 0 calc(0px - var(--spacing-s));
}

.widget-container--static {
  display: block;
  margin: 0 calc(0px - var(--spacing-s));
}

.widget-container__widget {
  flex: 1;
  margin: var(--spacing-s);
}

/*
  Page speficic styles
*/

.category-list__entry h2 {
  margin: var(--spacing-s) 0;
}

.article-list {
  margin-top: var(--spacing-s);
}

.article-list__entry {
  margin-top: var(--spacing-m);
  padding: 0;
}

.article-list__entry:first-child {
  margin-top: 0;
}

.article-list__entry__header h3 {
  margin: 0 0 var(--spacing-xs);
}

.article-list__entry__header__title:hover {
  text-underline-offset: 3px;
}

.article-header__cover-image {
  width: calc(100% + 2 * var(--figure-offset));
  margin: 0 calc(0px - var(--figure-offset));
  border-radius: var(--border-radius);
}

.article-header h4 {
  margin-bottom: 0;
}

.article-header hr,
.article-content hr:last-of-type {
  border-color: var(--color-light-alternative);
}

.article-header hr {
  margin-top: var(--spacing-s);
}

.article-content hr:last-of-type {
  margin-bottom: var(--spacing-s);
}

.article-summary__meta time,
.article-summary__meta span {
  font-style: italic;
  color: var(--color-light-alternative);
}

.article-summary__text {
  margin-top: var(--spacing-xxs);
}

.article-summary__sourcecode-link,
.article-summary__repost {
  font-style: italic;
}

.admonition {
  padding: var(--content-padding);
  border-radius: var(--border-radius);
  background-color: var(--color-bg-box);
}

.admonition-title {
  font-weight: var(--font-weight-semibold);
  margin-top: 0;
}

.admonition p:last-child,
.admonition li:last-child,
.admonition ol:last-child {
  margin-bottom: 0;
}

.video--small {
  max-width: 420px;
  margin: var(--content-padding);
}

.intro {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: var(--color-bg-box);
  border-radius: var(--border-radius);
}

.intro__content {
  padding: 0 var(--content-padding);
  flex: 1;
  font-size: var(--font-size-text-page-content);
  line-height: var(--line-height-text-page-content);
}

.intro__image {
  flex: 0.5;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-image: url('../images/matias.jpg');
  background-size: cover;
  background-position: left center;
}

.intro h2 {
  margin: var(--spacing-s) 0;
}

.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xs);
  background: var(--color-dark-alternative);
  color: var(--color-neutral);
  border-top: 1px solid var(--color-border);
}

.cookie-consent--hidden {
  display: none;
}

.cookie-consent__body,
.cookie-consent__body__button-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cookie-consent__body {
  max-width: var(--content-max-width);
  font-size: var(--font-size-text-small);
}

.cookie-consent__body__button-row button {
  margin: var(--spacing-xxs);
}

@media (max-width: 960px) {
  .site-header__nav {
    margin: var(--spacing-s) 0;
  }

  .article-content__image,
  .article-content > table,
  .article-content > figure,
  .article-content > .highlight,
  .embed,
  .embed--large {
    width: calc(100% + 2 * var(--content-padding));
  }

  .embed,
  .embed--large {
    margin: 1rem calc(0px - var(--content-padding)) 2rem;
  }

  .embed iframe {
    width: 100%;
  }

  .embed--large {
    position: relative;
    height: var(--scaled-height);
  }

  .embed--large iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 200vw;
    transform: scale(0.5);
    transform-origin: 0 0;
  }

  .article-header__cover-image,
  .article-content__image img,
  .article-content > table,
  .article-content > figure,
  .article-content > .highlight,
  .embed,
  .embed iframe,
  .embed--large,
  .embed--large iframe,
  figure > img,
  figure > video {
    border-radius: 0;
    border-left: none;
    border-right: none;
  }

  .widget-container {
    flex-direction: column;
    margin: 0;
  }

  .widget-container__widget {
    flex: none;
    margin: var(--spacing-s) 0;
    width: 100%;
  }

  .intro {
    flex-direction: column-reverse;
    margin-left: calc(0px - var(--content-padding));
    margin-right: calc(0px - var(--content-padding));
    width: min(100vw, var(--content-max-width));
  }

  .intro__content {
    width: 100%;
    padding: 0.5rem var(--content-padding);
  }

  .intro__content p:first-child {
    margin-top: 0;
  }

  .intro__image {
    flex: none;
    width: 100%;
    height: 275px;
    margin: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}

@media (max-width: 48em) {
  .intro,
  .intro__image {
    border-radius: 0;
  }
}

@media (max-width: 420px) {
  :root {
    --logo-size: 5rem;
  }

  .site-header__content {
    margin: 0 auto;
  }

  .site-footer__content {
    flex-direction: column;
  }

  .site-footer__content {
    flex-direction: column-reverse;
    padding: var(--spacing-s) var(--spacing-s) 6rem;
  }

  .site-footer__content__col {
    margin-bottom: var(--spacing-m);
    margin-right: 0;
    text-align: center;
  }

  .site-footer__content__col:first-child {
    margin-bottom: 0;
  }

  .site-footer__links li::after {
    content: '';
    margin: 0;
    padding: 0;
  }

  .site-header__nav {
    font-style: normal;
    margin-left: 0;
  }

  .article--with-cover {
    padding-top: 0;
  }

  .video--small {
    margin: 0;
  }
}
