.highlight {
  --p-numbers: var(--color-secondary-active);
  --p-strings: var(--color-code-string);
  --p-keyword: var(--color-primary);
  --p-function: var(--color-secondary);
  --p-function-new: var(--color-secondary-active);
  --p-attributes: var(--color-text-secondary);
  --p-operators: var(--color-code);
  --p-bg-selection: var(--color-text-inverse);
  --p-type: var(--color-secondary);
  --p-comments: var(--color-code-comment);
  --p-whitespace: var(--color-light);
  --p-diff-deleted: var(--color-code-deleted);
  --p-diff-inserted: var(--color-code-inserted);
  --p-subdued: var(--color-code);

  background: var(--bg-box);
  color: var(--color-code);
}

.highlight .hll {
  background-color: var(--p-dark-blue);
}

.highlight .cp,
.highlight .cs,
.highlight .gs,
.highlight .kt,
.highlight .nb,
.highlight .ne,
.highlight .ow {
  font-weight: var(--font-weight-semibold);
}

.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs,
.highlight .ge {
  font-style: italic;
}

.highlight .cp,
.highlight .n,
.highlight .nx {
  color: var(--color-code);
}

.highlight .k,
.highlight .kd,
.highlight .kr,
.highlight .bp,
.highlight .cs,
.highlight .gh,
.highlight .ow,
.highlight .sa {
  color: var(--p-keyword);
}

.highlight .nb {
  color: var(--p-function);
}

.highlight .nf {
  color: var(--p-function-new);
}

.highlight .kn,
.highlight .o,
.highlight .p {
  color: var(--p-subdued);
}

.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .go {
  color: var(--p-comments);
}

.highlight .gd,
.highlight .gr,
.highlight .gt {
  color: var(--p-diff-deleted);
}

.highlight .gi {
  color: var(--p-diff-inserted);
}

.highlight .gu,
.highlight .w {
  color: var(--p-whitespace);
}

.highlight .nc,
.highlight .kt {
  color: var(--p-type);
}

.highlight .na,
.highlight .no,
.highlight .nt,
.highlight .ni,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: var(--p-attributes);
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: var(--p-numbers);
}

.highlight .s,
.highlight .s1,
.highlight .sb,
.highlight .sx,
.highlight .si,
.highlight .sh,
.highlight .se,
.highlight .s2,
.highlight .sd,
.highlight .sc,
.highlight .sr {
  color: var(--p-strings);
}
