.highlight {
  --p-numbers: #6897bb;
  --p-strings: #6a8759;
  --p-keyword: #cc7832;
  --p-function: #ffc66d;
  --p-attributes: #9876aa;
  --p-operators: #a9b7c6;
  --p-bg-selection: #214283;
  --p-type: #fff;
  --p-comments: #666;
  --p-whitespace: #aaaaaa;
  --p-diff-deleted: #aa0000;
  --p-diff-inserted: #aaffaa;

  background: var(--bg-box);
  color: var(--color-text-code);
}

.highlight .hll {
  background-color: var(--p-dark-blue);
}

.highlight .cp,
.highlight .cs,
.highlight .gs,
.highlight .ne,
.highlight .ow {
  font-weight: bold;
}

.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs,
.highlight .ge {
  font-style: italic;
}

.highlight .cp,
.highlight .n,
.highlight .nx {
  color: var(--color-text-code);
}

.highlight .k,
.highlight .kd,
.highlight .kr,
.highlight .bp,
.highlight .cs,
.highlight .gh,
.highlight .ow,
.highlight .sa {
  color: var(--p-keyword);
}

.highlight .nf,
.highlight .nb {
  color: var(--p-function);
}

.highlight .kn,
.highlight .o {
  color: var(--p-very-light-grey);
}

.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .go {
  color: var(--p-comments);
}

.highlight .gd,
.highlight .gr,
.highlight .gt {
  color: var(--p-diff-deleted);
}

.highlight .gi {
  color: var(--p-diff-inserted);
}

.highlight .gu,
.highlight .w {
  color: var(--p-whitespace);
}

.highlight .nc,
.highlight .kt {
  color: var(--p-type);
}

.highlight .na,
.highlight .no,
.highlight .nt,
.highlight .ni,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: var(--p-attributes);
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: var(--p-numbers);
}

.highlight .s,
.highlight .s1,
.highlight .sb,
.highlight .sx,
.highlight .si,
.highlight .sh,
.highlight .se,
.highlight .s2,
.highlight .sd,
.highlight .sc,
.highlight .sr {
  color: var(--p-strings);
}
